beautifulsoup4>=4.6.0
cython>=0.28.3
flask>=1.0.2
gensim>=3.4.0
luigi>=2.7.5
matplotlib>=2.2.2
numpy>=1.14.2
pandas>=0.22.0
pytesseract>=0.2.0
pytest>=3.6.1
requests>=2.18.4
scipy>=1.0.1
scikit-learn>=0.19.1
http://download.pytorch.org/whl/cu91/torch-0.4.0-cp36-cp36m-win_amd64.whl
torchvision
tqdm>=4.23.1